<main class="h-full flex flex-col gap-2 py-4">
  <div class="flex w-full px-2">
    <input
      class="bg-sky-100 text-gray-500 px-2 py-1 text-sm w-full"
      type="text"
      placeholder="Search Extensions"
    />
  </div>
  <div class="flex-grow flex flex-col gap-1">
    <ul class="text-sm font-medium space-y-1">
      <div class="flex items-center gap-1 border-b border-sky-50">
        <mat-icon class="text-gray-500">chevron_right</mat-icon>
        <li>INSTALLED</li>
      </div>
      <div class="flex items-center gap-1 border-b border-sky-50">
        <mat-icon class="text-gray-500">chevron_right</mat-icon>
        <li>POPULAR</li>
      </div>
      <div class="flex items-center gap-1">
        <mat-icon class="text-gray-500">chevron_right</mat-icon>
        <li>RECOMMENDED</li>
      </div>
    </ul>
  </div>
</main>
