<main class="flex flex-col p-6">
  <pre
    class="p-4 bg-gradient-to-r from-blue-400 to-sky-500 rounded-md shadow-lg font-mono"
  >
    <span class="text-white" [innerHTML]="'{'"></span>
    @for(item of contactLinks;track trackByItem){
      <img class="object-cover size-8 inline bg-white/80 rounded-lg border-2 " alt="github logo" [appNgSrc]="item.iconUrl"/> : <a target="_blank" class="text-white/80 font-medium hover:font-semibold drop-shadow-sm" [href]="item.url"  >"{{item.url}}"</a>,
    }
    <span></span>
    <span class="text-white" [innerHTML]="'}'"></span>
  </pre>
</main>
