<main class="flex border-t-2 min-h-52 flex-col">
  <section class="flex flex-grow h-full">
    <div class="flex flex-grow flex-col mx-4 py-2">
      <div class="flex space-x-4 w-full">
        @for (item of terminalTabs; track trackByItem) {
          <span
            class="opacity-80 text-xs"
            [ngClass]="{
              'underline underline-offset-8  font-medium': selectedTab === item
            }"
          >
            {{ item }}
          </span>
        }
      </div>
      <div class="flex flex-grow my-3 flex-col text-sm">
        <span class="text-pink-400">Server bundles</span>
        <table class="w-1/2">
          <thead>
            <tr class="font-medium">
              <td>Initial chunk files</td>
              <td>Names</td>
              <td>Raw size</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>main.server.mjs</td>
              <td>main.server</td>
              <td>863.96 kB</td>
            </tr>
          </tbody>
        </table>
        <p class="mt-2">
          Application bundle generation complete. [3.824 seconds]
        </p>
        <p class="mt-2">Page reload sent to client(s).</p>
      </div>
    </div>
    <div class="flex justify-end flex-grow items-start py-2 mx-4 space-x-2">
      <div class="flex items-center gap-1">
        <mat-icon class="small-custom-icon" [svgIcon]="'terminal'" />
        <span class="text-xs">node</span>
      </div>
      <mat-icon class="small-custom-icon" [svgIcon]="'add'" />
      <mat-icon class="small-custom-icon" [svgIcon]="'ellipsis'" />
      <mat-icon class="small-custom-icon" [svgIcon]="'chevronup'" />
      <mat-icon class="small-custom-icon" [svgIcon]="'close'" />
    </div>
  </section>
  <section
    class="bg-gray-200 min-h-6 flex justify-end items-center space-x-3 px-4"
  >
    @for (item of vsFooter; track trackByItem) {
      <span class="opacity-70 text-xs">{{ item }}</span>
    }
  </section>
</main>
