<main class="flex flex-grow p-4 gap-12">
  <section
    class="w-1/2 bg-gradient-to-r from-blue-200 to-sky-100 shadow-md border-4 border-sky-500 p-2 rounded-md"
  >
    <pre class="code-block text-sky-700">{{ getSnippet }}</pre>
  </section>
  <section class="w-1/2">
    <form class="flex flex-col gap-1" [formGroup]="personalDetailsForm">
      @for (item of displayFields; track trackByItem) {
        <ng-container
          *ngTemplateOutlet="
            inputElement;
            context: { label: item.name | titlecase, value: item.key }
          "
        />
      }
    </form>
  </section>
</main>

<ng-template
  #inputElement
  let-label="label"
  let-value="value"
  let-group="group"
>
  <div class="grid grid-cols-2 gap-1 items-center border-b-2 border-blue-200">
    <mat-label class="font-thin">{{ label }}</mat-label>
    <mat-form-field [formGroup]="personalDetailsForm">
      <input matInput readonly [formControlName]="value" />
    </mat-form-field>
  </div>
</ng-template>
