<main class="flex flex-col p-12 gap-12 shadow-lg">
  @for (item of techStackInfo; track trackByItem) {
    <section
      class="flex flex-col gap-4 bg-gradient-to-r from-blue-200 to-sky-100 rounded-lg shadow-lg p-6"
    >
      <!-- Section Header -->
      <span class="font-medium text-sky-600 text-2xl">{{ item.name }}</span>

      <!-- Tech Info Grid -->
      <div class="grid grid-cols-3 items-start gap-6">
        @for (child of item.techInfo; track trackByItem) {
          <div
            class="flex items-center gap-4 p-4 bg-gradient-to-r from-blue-400 to-sky-500 shadow-md rounded-md hover:shadow-lg transition-shadow"
          >
            <!-- Tech Icon -->
            <img
              alt="no-image"
              class="h-12 w-12 rounded-full p-1 bg-white/80 border border-white/80 object-cover"
              [appNgSrc]="child.imageUrl"
            />

            <!-- Tech Name -->
            <span class="font-medium text-white drop-shadow-md font-mono">
              "{{ child.name }}"
            </span>
          </div>
        }
      </div>
    </section>
  }
</main>
