<main class="flex flex-col p-12 gap-12">
  <div
    class="flex flex-col gap-2 p-4 bg-gradient-to-r from-blue-200 to-sky-100 shadow-lg rounded-lg text-gray-800 w-full"
  >
    <span class="text-sm text-gray-500 tracking-wide">
      {{ "@AngularVsBlend" }}
    </span>

    <h1 class="text-3xl font-light flex items-center gap-2">
      <span class="font-semibold text-sky-600">Accomplishments</span>
      <span class="text-gray-500">extends</span>
      <span class="bg-sky-500 text-white px-3 py-1 rounded-md shadow-md">
        customCard
      </span>
    </h1>
  </div>

  <section class="grid grid-cols-2 gap-6 w-auto">
    @for (item of accomplishment; track trackByItem) {
      <div
        class="flex gap-5 p-4 bg-gradient-to-r from-blue-400 to-sky-500 shadow-lg rounded-lg"
      >
        <!-- Image Section -->

        <!-- Content Section -->
        <div class="flex flex-col gap-2">
          <h2 class="text-xl font-semibold text-white drop-shadow-md">
            {{ item.name }}
          </h2>
          <p class="text-sm text-white/80">{{ item.description }}</p>
        </div>
        <div
          class="flex items-center relative rounded-lg bg-white p-2 shadow-md group flex-col cursor-pointer"
        >
          <img
            class="max-w-[20em] w-full h-auto object-cover rounded-md transition-transform duration-700 ease-in-out group-hover:scale-[3] group-hover:-translate-x-20"
            [appNgSrc]="item.imageUrl"
            [alt]="item.name"
          />
          <span
            class="mt-2 text-xs text-sky-600 opacity-70 group-hover:opacity-100 transition-opacity duration-300"
          >
            Hover to zoom image
          </span>
        </div>
      </div>
    }
  </section>
</main>
