@use "@angular/material" as mat;
@include mat.core();

// Define a dark theme
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(mat.$blue-palette),
      accent: mat.define-palette(mat.$blue-gray-palette),
    ),
    // Only include `typography` and `density` in the default dark theme.
    typography: mat.define-typography-config(),
    density: -2,
  )
);

// Define a light theme
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$blue-palette),
      accent: mat.define-palette(mat.$blue-gray-palette),
    ),
  )
);

// Apply the dark theme by default// Apply the dark theme by default
@include mat.all-component-themes($dark-theme);

// Apply the light theme only when the user prefers light themes.
@media (prefers-color-scheme: light) {
  // Use the `-color` mixins to only apply color styles without reapplying the same
  // typography and density styles.
  @include mat.all-component-colors($light-theme);
}

// mat-tab styling change to make the tabs as per vscode standards

.mat-mdc-tab-group
  .mat-mdc-tab-header
  .mat-mdc-tab-label-container
  .mat-mdc-tab-list
  .mat-mdc-tab-labels {
  .mdc-tab.mat-mdc-tab.mat-mdc-focus-indicator {
    flex-grow: 0 !important;
    border-left: 1px solid #fafafa !important;
    background: #e5e7eb !important;
    width: 13rem !important;

    /* stylelint-disable-next-line selector-class-pattern */
    &.mdc-tab--active {
      background: #fafafa !important;
    }

    .mdc-tab-indicator {
      display: none !important;
    }
  }

  /* stylelint-disable-next-line selector-class-pattern */
  mdc-tab.mat-mdc-tab.mat-mdc-focus-indicator.mdc-tab--active.mdc-tab-indicator--active {
    background: #fafafa !important;
  }
}
