<main class="flex flex-col min-w-12 w-12 justify-between bg-gray-50">
  <section class="flex flex-col">
    @for (item of svgIcons | slice: 0 : 5; track trackByItem) {
      <button
        type="button"
        class="flex items-center justify-center py-3 hover:bg-blue-300 cursor-pointer transition-all duration-300 ease-in-out transform"
        [ngClass]="{
          'border-l-4 bg-sky-200 border-sky-600 scale-105 opacity-100':
            iconpanelService.getSelectedIcon$.panelIcon === item,
          'scale-100 opacity-80':
            iconpanelService.getSelectedIcon$.panelIcon !== item,
        }"
        (click)="iconpanelService.onIconSelected(item)"
      >
        <mat-icon [svgIcon]="item" />
      </button>
    }
  </section>
  <!-- <section class="flex flex-col">
    @for (item of svgIcons | slice: 5 : 8; track trackByItem) {
      <div
        class="flex items-center justify-center py-3 cursor-pointer hover:bg-blue-300"
        [ngClass]="{
          'border-l-2 border-black':
            iconpanelService.getSelectedIcon$.panelIcon === item
        }"
      >
        <mat-icon [svgIcon]="item" />
      </div>
    }
  </section> -->
</main>
